@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
    font-family: "Inter", sans-serif;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}

.button-container {
    position: absolute;
    bottom: 0%;
    left: 50%;
    translate: -50% -50%;
}

button {
    background: white;
    border: none;
    padding: 1rem 2rem;

}